<!DOCTYPE html>
<%- include('./component/head.ejs')%>
  <body>
    <%- include('./component/nav.ejs')%>
    <div class=" about content">
      <h1>About Us</h1>
      <p>Our group is a team of three, called <strong>Triple Guu!</strong> .<br>
        This project is focused on a Coffee Shop service!<br>
        We built this app primarily for CRUD operations for managing order coffee, using Node.js, Express Framework, and EJS templates.
        MySQL is used as database.</p>
       <div><p>
        To access <strong>JSON data</strong> from the order table, simply use <strong>/ordertable</strong>  in the url.
         <br>
         Feel free to test our REST API for this service.
       </p><br><h3>
        Happy coding!! 😊🤗</h3></div>

    </div>
    <%- include('./component/footer.ejs')%>
  </body>
</html>
