<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./component/head.ejs')%>
  <body>
    
    <%- include('./component/nav.ejs')%>
    <div class="create-blog ">
  
      <form id="searchOrderForm" action="/showOrder/" method="get">
        <label for="orderID"> Type Your Order ID:</label>
        <input type="text" id="title" name="orderId"  required>

        <button><a class="search" data-doc="<%= searching.orderId %>" > Search</a></button>
        
        <!-- <button type="submit">Search</button> -->
       
       
        </form> 


    </div>
    

    <%- include('./component/footer.ejs')%>
  </body>
  <script>
   const searchForm = document.querySelector('a.search');
searchForm.addEventListener('submit', (e) => {
  e.preventDefault(); // Prevent the default form submission behavior
  const orderId = document.getElementById('order_id').value;
  console.log(orderId);
  const searchUrl = `/searchOrder/search/?orderId=${encodeURIComponent(orderId)}`;
  fetch(searchUrl ,{method:'GET'})
    .then((response) => response.json()) // Assuming you expect JSON response
    .then((data) => {
      // Handle the response data here
      console.log(data);
    })
    .catch((err) => {
      console.log(err);
    });
});

    </script>
  
</html>
