<nav>
    <div class="site-title">
      <a href="/" ><h1>Triple Guu Cafe ☕</h1></a>
      <p> Write with backend=>Nodejs, Database=> MySQL<br>
       </p>
    </div>
    <ul>
        <li><a href="/ordertable/" class="navg"><b>Home</b></a></li>
        <li><a href="/ordertable/create" class="navg"><b>NewOrder</b></a></li>
        <li><a href="/about" class="navg"><b>AboutUs</b></a></li>
        
      
      </ul>
      <style>
         .navg {
            color: #0d0e0d; 
            text-decoration: none; 
            padding: 8px 16px; 
            border-radius: 4px; 
            background-color: lightgreen;
            transition: background-color 0.3s, color 0.3s; 
        }
        .navg:hover {
            background-color: #555; 
            color: #06fc2fc4; 
        }
        
      </style>
</nav>